{{>nav_user}}

<main>
<section class='container mt-5 mb-5'>
    <div class="row" >
        <div class="col-md-8 " id="div1">
            
            <p class="paragrafo">Agende sua</p>
            <p class="paragrafo">consulta On-line</p>
            <p></p>
            <p class="p2">O Hospital BCW7 tem como foco a comodidade e<span id="span">
                satisfação dos nosso pacientes.</span> 
            </p>
            <button href="#" type="submit" class="btn btn-primary" id="botao">Consulte Especialidades</button>
        </div>
        <div class="col-md-4">
            <img id="fotoMedica" src="img/Rectangle 51.png">
        </div>
    </div>
</section>

<section class='container-fluid'>

</section>
   
<section class='container'>


        <div class="title-plan">
            <p id='sub-card'>Practice Advice</p>

            <p id='tituloCard'>Pricing</p>

            <p id='text-card'>Problems trying to resolve the conflict between <span id='quebraLinha'>the two major
                    realms of Classical physics:Newtonian mechanics</span> </p>
        </div>


        </div>
        <div class="row linhaPlano">
            <div class="col col-lg-3 linha-2">
                <div class="card card-plan">
                    <div class='container-card'>
                        <img src="img/circle.png" class="card-img-top img-plan" alt="...">

                        <p id='tituloPlano'>Plano 1</p>

                        <p class="card-text">Organize across all apps by hand</p>
                        <div class="valor">
                            <p id='valor'>R$ 20,00</p>
                            <label for="" id='valorMes'>Por Mês</label>
                        </div>
                        <p class='text2-card'>Slate helps you see how many more days you need.</p>

                        <div class="btn d-flex justify-content-cent">
                            <button id='btn-assinar' class="btn btn-primary">Assinar Plano</button>
                        </div>
                        <p id='text3-card'>Unlimited product updates</p>
                        <div class="container-img-text">
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-3 linha-2">
                <div class="card card-plan">
                    <div class='container-card'>
                        <img src="img/circle.png" class="card-img-top img-plan" alt="...">

                        <p id='tituloPlano'>Plano 2</p>

                        <p class="card-text">Organize across all apps by hand</p>
                        <div class="valor">
                            <p id='valor'>R$ 20,00</p>
                            <label for="" id='valorMes'>Por Mês</label>
                        </div>
                        <p class='text2-card'>Slate helps you see how many more days you need.</p>

                        <div class="btn d-flex justify-content-cent">
                            <button id='btn-assinar' class="btn btn-primary">Assinar Plano</button>
                        </div>
                        <p id='text3-card'>Unlimited product updates</p>
                        <div class="container-img-text">
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                        </div>
                        <img id='new' src="img/circle4.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col col-lg-3 linha-2">
                <div class="card card-plan">
                    <div class='container-card'>
                        <img src="img/circle.png" class="card-img-top img-plan" alt="...">

                        <p id='tituloPlano'>Plano 3</p>

                        <p class="card-text">Organize across all apps by hand</p>
                        <div class="valor">
                            <p id='valor'>R$ 20,00</p>
                            <label for="" id='valorMes'>Por Mês</label>
                        </div>
                        <p class='text2-card'>Slate helps you see how many more days you need.</p>

                        <div class="btn d-flex justify-content-cent">
                            <button id='btn-assinar' class="btn btn-primary">Assinar Plano</button>
                        </div>
                        <p id='text3-card'>Unlimited product updates</p>
                        <div class="container-img-text">
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle2.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                            <div class='img-text'>
                                <img src="img/circle3.png" alt="">
                                <label for="" class='text-img'>Unlimited product updates</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>    
<section class='container'>
        <div class='row'>
            <p class='text-center text-primary mt-5'>Newsletter</p>
        </div>
        <div class='row'>
            <p class='text-center text-da'>JUNTE-SE A NÓS</p>
        </div>
        <div class='row'>
            <p class='text-center text-gray'>Cadastre seu e-mail para recebimento diário de notícias, eventos e demais
                informações</p>
        </div>
        <div class='row d-flex justify-content-center mt-5 mb-5'>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite seu e-mail"
                        aria-label="Digite seu e-mail" aria-describedby="button-addon2">
                    <button class="btn btn-primary-c" type="button" id="button-addon2">Cadastrar</button>
                </div>
            </div>


</section>
</main>