{{>nav_user}}

<main>
    <section class='container-fluid'>

    </section>
    <section class='container-fluid'>

    </section>
    <section class='container-fluid'>

    </section>
    <section class='container'>
        <div class='row'>
            <p class='text-center text-primary mt-5'>Newsletter</p>
        </div>
        <div class='row'>
            <p class='text-center text-da'>JUNTE-SE A NÓS</p>
        </div>
        <div class='row'>
            <p class='text-center text-gray'>Cadastre seu e-mail para recebimento diário de notícias, eventos e demais
                informações</p>
        </div>
        <div class='row d-flex justify-content-center mt-5 mb-5'>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite seu e-mail"
                        aria-label="Digite seu e-mail" aria-describedby="button-addon2">
                    <button class="btn btn-primary-c" type="button" id="button-addon2">Cadastrar</button>
                </div>
            </div>

    </section>
</main>